/*
 
Colors
#3b1362 - Midnight Blue
#28c1ba - Light Sea Green
#c19de5 - Medium Purple
#433960 - Dark Slate Blue
#6b56d0 - Slate Blue

*/
.purp1, 
.purp2, 
.purp3 {
  fill:#675ca7;
}
.teal1, 
.teal2, 
.teal3 {
  fill:#33bcb7;
}

.intro-outer{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
}

.intro-outer svg {
  width: 300px;
}

.main {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}


.logo {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;;
  

}

.logo img {
  width: 300px;
  transition: all 400ms ease-in-out;
}

.lab {
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 1em;
  margin-top: 2em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 50px;
  top: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #28c1ba;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #28c1ba;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

/* .nav {
  position: fixed;
  right: 0;
  width: 10em;
  height: 10em;
  
  margin-top : 2.5em;
}

.nav li {
  cursor: pointer;
  top: 0;
  padding: 10px;
  list-style-type: none;
  
}

.nav a {
  text-decoration: none;
  color: white;
} */

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100%;
}

.mission img {
  position: relative;
  vertical-align: bottom;
  width: 100vw;
}

.mission div {

  width: 100vw;
  text-align: left;
  margin: 50px;
  width: 50vw;
  

}



.mission p, .mission h1 { 

  margin: 0;
  padding: 15px;
  
}

.research {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100%;
  background: #6b56d0;
  z-index: 2;
}

.research div:first-child {
  padding-top: 100px;
}

.research div:last-child {
  padding-bottom: 100px;
}

.research div {
  width: 100vw;
  text-align: left;
  
  width: 50vw;
  
}

.research p, .research h1, .research h4 {
  margin: 0;
  padding: 15px;
}

.research p {
  margin-bottom: 60px;
}


.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  
}

.works-content {
  margin-bottom: 60px;
}

.works-content:first-child {
  padding-top: 100px;
}

.works-content:last-child {
  padding-bottom: 100px;
}

.works-content h1,.works-content h2, .works-content h4 {
  width: 50vw;
  text-align: left;
  padding-left: 50px;
}

.works-content h4{
  color: #c19de5;
}

.works-content p {
  text-align: left;
  margin: 0;
  padding-left: 50px;
  width: 50vw;
}

.team-outer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  width: 100vw;
  height: 100%;
  background: #6b56d0;
  z-index: 2;

}

.team-outer h1 {

  padding-top: 30px;
  font-size: 2em;
}

.team-outer h2 {
  padding-top: 20px;
  font-size: 2em;
}

.team {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0;
  width: 100vw;

}

.team-2 {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
  width: 100vw;
}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.card img {
  margin-bottom: 20px;
}

.card p:nth-child(2) {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.card p:nth-child(3) {
  margin-top: 0px;
  padding: 0;
  line-height: 24px;
}

.clip {
  -webkit-clip-path: circle(75px);
  clip-path: circle(75px);  
}


.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.partners-outer {
  text-align: center;
}

.partners-outer h1{
  padding: 30px;
}

.join-outer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.join {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  height: 30vh;
  
}

/* Media Queries */

@media only screen and (max-width: 768px){


  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-left: 0px;
  }
  
  .logo img{
  
    width: 150px;
  }

  .lab {
    width: 100vw;
    height: auto;
  }

  .mission {
    position: relative;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

 

  .mission p, .mission h1 {
    text-align: left;
    width: 87vw;
    margin:0;
    margin-right: 0;
  }

  .mission div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
  }

  .mission img{
    vertical-align: bottom;
    width: 100vh;
  }

  .research {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  

  .research div{
    width: 90vw;
    margin: 0;
  }

  .works {
    
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .works-content {
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    left: 0px;
    padding: 0px;
  }


  .works-content h1,.works-content h2, .works-content h4 {
    width: 50vw;
    text-align: left;
    padding-left: 15px;
  }

  .works-content p {
    width: 90vw;
    height: 100%;
    padding-left: 15px
    
  }

  .ckba-logo-outer {

    float: right;
    top: 120px;
    right: 50px;
    padding: 0;
    margin: 0;
    width: 200px;
  }


  .team-outer h1 {
    padding: 0;
    margin-top: 50px;
  }

  .team {
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 0;
  }

  .team div {
    transition: all 300ms ease-in-out;
    height: 50px;
    width: 50px;
  }

  .team-2 {
    text-align: left;
    margin-top: 200px;
  }

  .clip {
  -webkit-clip-path: circle(40px);
  clip-path: circle(40px);  
  }

  .card img {

    flex-wrap: wrap;
    padding-top: 0;
    margin-top: 0;
    width: 100px;
  }

  .card p {
    text-align: center;

  }

  .join-outer {
    height: 100%;
  }


  .partners {
    flex-wrap: wrap;
  }


}

@media only screen and (max-width: 450px) {
  .mission{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .mission img {
    margin-top: 10px;
    position: relative;
    vertical-align: bottom;
    width: 100vw;
  }

  .research h1{
    width: 90vw;
    text-align: left;
  }

  .works {
   
    align-items: center;
  }

  .works img {
    display: none;
  }

  .partners {
    display: flex;
    flex-wrap: wrap;
  }
  .partners a {
    width: 100vw;
    padding: 15px;
  }
}

@media only screen and (max-height: 630px) {
  .lab {
    display: none;
  }

  .logo {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .works {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .team-outer {
    height: 100%;
  }

  .team-2 {
    padding-bottom: 30px;
  }
}

