/*
 
Colors
#3b1362 - Midnight Blue
#28c1ba - Light Sea Green
#c19de5 - Medium Purple
#433960 - Dark Slate Blue
#6b56d0 - Slate Blue

*/

.main {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


.main div:last-child {
  margin-left: auto;
}

.logo {

  position: absolute;
  margin: 50px;
  height: 150px;
  width: 150px;
  

}

.logo img {
  width: 150px;
  transition: all 400ms ease-in-out;
}

.lab {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 1em;
  margin-top: 2em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #28c1ba;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #6b56d0;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

/* .nav {
  position: fixed;
  right: 0;
  width: 10em;
  height: 10em;
  
  margin-top : 2.5em;
}

.nav li {
  cursor: pointer;
  top: 0;
  padding: 10px;
  list-style-type: none;
  
}

.nav a {
  text-decoration: none;
  color: white;
} */

.mission {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mission div {
  text-align: center;
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 100%;

  
}

.mission img {
  position: absolute;
  left: 0;
  top: -260px;
  z-index: -1;
}



.mission p, .mission h1 {
  text-align: left;
  float: right;
  width: 50%;
  margin: 0;
  padding: 20px;
  margin-right: 70px;
}

.fader {
  position: absolute;
  height: 40px;
  width: 100vw;
  bottom: -50px;
  left: -50px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(64,45,90) 100%);
}

.research {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 1em;
}

.research h1 {
  text-align: center;
  width: 100vw;
  padding-top: 20px;
}

.research p {
  width: 50vw;
  margin: 40px;
}


.works {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.works-content {
  padding-top: 100px;
}

.works img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 800px;
}

.works h1, .works h2 {
  width: 50vw;
  text-align: center;
  padding-left: 40px;
}

.works p {
  text-align: left;
  margin: 0;
  padding-left: 40px;
  width: 50vw;
}

.team-outer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.team-outer h1 {

  padding-top: 30px;
  font-size: 2em;
}

.team-outer h2 {
  padding-top: 20px;
  font-size: 2em;
}

.team {

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
  margin-top: 100px;
  padding: 0;
  width: 100vw;

}

.partners {
  
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 50px;
  width: 100vw;

}

.partners-outer {
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;

}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
}

.clip {
  -webkit-clip-path: circle(75px);
  clip-path: circle(75px);  
}


.join-outer {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  width: 100vw;
}

.join {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  height: 30vh;
  
}

/* Media Queries */

@media only screen and (max-width: 768px){
  
  .logo img{
    position: absolute;
    top: 150px;
    width: 300px;
  }

  .lab {
    opacity: 0;
  }

  .mission {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .mission p {
    width: 90vw;
    margin: 0;
  }

  .mission div {
    margin: 0;
    width: 100%;
  }

  .mission img{
    position: absolute;
    top: 230px;
    left: -100px;
    width: 700px;
  }

  .fader {
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
  }

  .research p{
    width: 90vw;
  }

  .works-content {
    margin: 0;
    padding: 0px;
  }

  .works h2 {
    text-align: left;
  }

  .works p {
    width: 90vw;
  }

  .works img {
    float: right;
    top: 0px;
    right: -45px;
    padding: 0;
    margin: 0;
    width: 300px;
  }

  .team div {
    transition: all 300ms ease-in-out;
    height: 100px;
    width: 100px;
  }


}